/* selector */
#aa {
    color: red;
    text-align: center;
}
#bb {
    color: #4db9a8;
    text-align: center;
}
#cc {
    color: rgb(99, 152, 248);
    text-align: center;
}
#dd {
    color: rgb(74, 19, 124);
    text-align: center;
}
#ee {
    text-align: center;
}